@page "/gestion"
@using TallerGestion.Pages
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TallerGestion.Models
@using TallerGestion.Data
@using TallerGestion.Data.Persistence
@using Microsoft.AspNetCore.SignalR.Client
@using TallerGestion.Hubs
@using ChartJs.Blazor.BarChart

@inject IDbContextFactory<TallerGestion.Data.Persistence.GestionContext> DbFactory
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject GestionCalidadService GestionCalidadService
@inject AtencionesService AtencionesService
@inject OficinasComercialService OficinasComercialService

<h3>Gestión de calidad</h3>
<select class="form-control" @bind="Modalidad">
    <option value="TIEMPOREAL">Tiempo real</option>
    <option value="PERIODO">Por periodo</option>
</select>
@if (Modalidad == "TIEMPOREAL")
{
    <p>Cantidad de atenciones actuales: <span>@CountAtenciones</span></p>
    <p>Cantidad de clientes en espera: <span>@CountClientesEspera</span></p>
}
else if (Modalidad == "PERIODO")
{
    <label class="mt-1" for="filtro-estado">Filtrar por estado</label>
    <select class="form-control" id="filtro-estado" name="filtro-estado" @bind="FiltroEstado">
        <option value="todos">Todos</option>
        <option value="En Espera">En espera</option>
        <option value="En Progreso">En progreso</option>
        <option value="Finalizado">Finalizado</option>
    </select>
    <form class="row g-3">

        <div class="col-auto">
            <label for="inputDateStart" class="visually-hidden mt-1">Fecha Inicio</label>
            <input type="date" @bind="DateStart" class="form-control" id="inputDateStart">
        </div>
        <div class="col-auto">
            <label for="inputDateFinish" class="visually-hidden mt-1">Fecha fin</label>
            <input type="date" @bind="DateFinish" class="form-control" id="inputDateFinish">
        </div>
        <div class="col-auto">
            <label for="inputOficina" class="visually-hidden mt-1">Fecha fin</label>
            <select @bind="SelectOficinaFiltro" class="form-control" id="inputOficina">
                <option value="-1">Todas las oficinas</option>
                @foreach (var oficina in oficinas)
                {
                    <option value="@oficina.OficinaId">@oficina.Nombre</option>
                }
            </select>
        </div>

    </form>
    <button type="button mt-1" @onclick="ActualizarAtencionesFiltradas" class="btn btn-primary">Buscar</button>

    <h4>Cantidad: @atencionesFiltradas.Count()</h4>
    <div class="table-responsive">
        <QuickGrid Class="table table-striped table-hover" Items="atencionesFiltradas">
            <PropertyColumn Property="atenciones => atenciones.Cliente.CedulaIdentidad" Title="Cliente" />
            <PropertyColumn Property="atenciones => atenciones.Oficina.Nombre" Title="Oficina" />
            <PropertyColumn Property="atenciones => atenciones.GetPuesto()" Title="Puesto" />
            <PropertyColumn Property="atenciones => atenciones.GetNombreOperario()" Title="Operario" />
            <PropertyColumn Property="atenciones => atenciones.Tramite.DescripcionTramite" Title="Trámite" />
            <PropertyColumn Property="atenciones => atenciones.FechaHoraLlegada" Title="Hora Llegada" />
            <PropertyColumn Property="atenciones => atenciones.FechaHoraAtencion" Title="Hora Atención" />
            <PropertyColumn Property="atenciones => atenciones.FechaHoraFinalizacion" Title="Hora Finalización" />
            <PropertyColumn Property="atenciones => atenciones.Estado" Title="Estado" />
            <PropertyColumn Property="atenciones => atenciones.SegundaLlamado" Title="Llamado" />
        </QuickGrid>
    </div>
    <h3>Promedio de Tiempos</h3>
    <ul>
        <li>Promedio de tiempo de espera: @Promedios["Espera"] minutos</li>
        <li>Promedio de tiempo de finalizacion: @Promedios["Finalizacion"] minutos</li>
    </ul>
}

@code {
    Dictionary<string, double> Promedios = new Dictionary<string, double>();
    private BarConfig _barConfig;
    private Dictionary<int, string> TramiteMapper = new Dictionary<int, string> { };
    string FiltroEstado = "todos";
    int SelectOficinaFiltro = -1;
    DateTime DateStart = DateTime.MinValue;
    DateTime DateFinish = DateTime.MaxValue;
    List<Oficinascomerciales> oficinas = [];

    string Modalidad = "TIEMPOREAL";
    int CountAtenciones = 0;
    int CountClientesEspera = 0;

    private GestionContext context = default!;
    private IQueryable<Atenciones>? atencionesFiltradas;



    protected override async Task OnInitializedAsync()
    {
        oficinas = await OficinasComercialService.GetAllOficinasAsync();
        List<int> idTramites = [];
        context = DbFactory.CreateDbContext();
        CountAtenciones = await context.Atenciones.Where(a => a.Estado == "En Progreso").CountAsync();
        CountClientesEspera = await context.Atenciones.Where(a => a.Estado == "En Espera").CountAsync();
        await ActualizarAtencionesFiltradas();
        // ConfigureBarConfig();
    }


    private async Task ActualizarAtencionesFiltradas()
    {
        try
        {
            atencionesFiltradas = await AtencionesService.GetAtencionesAsyncFilter(DateStart, DateFinish, FiltroEstado, SelectOficinaFiltro);
            GetPromedios();
        }
        catch (Exception e)
        {
        }
        await InvokeAsync(StateHasChanged); // Asegura que la UI se actualice
    }
    public void GetPromedios()
    {

        Promedios["Espera"] = 0;
        Promedios["Finalizacion"] = 0;
        int countEspera = 0;
        int countFinalizado = 0;
        TimeSpan span;

        foreach (var atencion in atencionesFiltradas)
        {
            if (atencion.FechaHoraAtencion.HasValue && atencion.FechaHoraLlegada.HasValue)
            {
                span = atencion.FechaHoraAtencion.Value - atencion.FechaHoraLlegada.Value;
                Promedios["Espera"] += span.TotalMinutes;
                countEspera++;
                if (atencion.FechaHoraFinalizacion.HasValue)
                {
                    span = atencion.FechaHoraFinalizacion.Value - atencion.FechaHoraAtencion.Value;
                    Promedios["Finalizacion"] += span.TotalMinutes;
                    countFinalizado++;
                }
            }
        }

        Promedios["Espera"] = Promedios["Espera"] / countEspera;
        Promedios["Finalizacion"] = Promedios["Finalizacion"] / countFinalizado;
    }

    public List< int > GetCantidadAtencionesPorDia()
    {
        return [];
    }

    private void ConfigureBarConfig()
    {
        _barConfig = new BarConfig();

        _barConfig.Options = new BarOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Cantidad de atenciones por fecha"
                },
            };

    }

}

